/*+++++++++++++++++++++++++++++++++Bordes+++++++++++++++++++++++++++++++++*/

/*Bordes Cerrados*/
.borde-trazo-5 {
    border: $color-azul 5px solid !important;
    border-radius: 20px !important;
} 
.borde-trazo-3 {
    border: $color-azul 3px solid;
    border-radius: 10px;
}
.borde-trazo-1 {
    border: $color-azul 1px solid;
    border-radius: 5px;
}

/*Bordes inferiores*/

.borde-b-5 {
    border-bottom: $color-azul 5px solid;
}
.borde-b-3 {
    border-bottom: $color-azul 3px solid;
}

.borde-b-d {
    border-bottom: $color-azul 5px dashed;
}

/*Radio de bordes (para casos específicos)*/
.borde-r-20 {
    border-radius: 20px;
}
.borde-r-10 {
    border-radius: 10px;
}
.borde-r-5 {
    border-radius: 5px;
}
.borde-r-0 {
    border-radius: 0px;
}

/*Aparte*/
.borde-der-0{
    border-bottom-right-radius: 0px !important;
}
.borde-sup-15{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.borde-inf-15{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.borde-inf-20{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
