/*+++++++++++++++++++++++++++++++++ General +++++++++++++++++++++++++++++++++*/


body {
    background-color: $color-blanco !important;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}



/*Ocultar y mostrar elementos*/

.dr-none { /*Ocultar elemento en formato tablet o inferior*/
    display: block;
}
.dr-none-movil { /*Ocultar elemento en formato móvil*/
    display: block;
}
.dr-yes { /*Aparecer elemento en formato tablet o inferior*/
    display: none;
}
.dr-yes-movil { /*Aparecer elemento en formato móvil*/
    display: none;
}

//Rotación
.rota-180{
    transform: rotate(180deg);
}



//Sombraa
.sombra-azul{
    box-shadow: 20px 20px 0 $color-azul-2;
    border-radius: 20px;
}
.sombra-naranja{
    box-shadow: 20px 20px 0 $color-naranjo;
    border-radius: 20px;
}
.sombra-celeste{
    box-shadow: 20px 20px 0 $color-celeste;
    border-radius: 20px;
}

.alineacion-vertical{
    vertical-align: middle;
}

//Botones
.btn-close {
    filter: invert(1);
}
.boton{
    display: block;
    text-decoration: none;
    text-align: center;

    background-color: transparent;
    color: $color-azul;
    border: $color-azul 3px solid;
    border-radius: 10px;
    
    font-weight: 700 !important;
    width: 100%;
    padding: 10px 0px;
}
.boton:hover{
    background-color: $color-naranjo;
    color: $color-blanco;
    border: $color-naranjo 3px solid;
}

.boton-2{
    display: inline-block;
    text-decoration: none;
    text-align: center;

    background-color: transparent;
    color: $color-azul;
    border: $color-azul 3px solid;
    border-radius: 10px;
    
    font-weight: 700 !important;
    padding: 10px 20px;
}
.boton-2:hover{
    background-color: $color-naranjo;
    color: $color-blanco;
    border: $color-naranjo 3px solid;
}
.boton-3{
    display: inline-block;
    text-decoration: none;
    text-align: center;

    background-color: $color-naranjo;
    color: $color-blanco;
    border-radius: 10px;
    
    font-weight: 700 !important;
    padding: 10px 20px;
}
.boton-3:hover{
    background-color: $color-naranjo-2;
    color: $color-blanco;
}

//Aparte
.icono-footer-1{
    width: 2.5rem;
    height: auto;
}
.icono-footer-2{
    width: auto;
    height: 2.5rem;
}
.video-container-1{
    width: 100%;
    aspect-ratio: 16 / 9; /* Proporción estándar para videos */
    position: relative;

    iframe {
        width: 100%;
        height: 100%;
        border: 0;
    }
}
.video-container-2{
    width: 100%;
    aspect-ratio: 9 / 16; /* Proporción estándar para videos */
    position: relative;

    iframe {
        width: 100%;
        height: 100%;
        border: 0;
        border-radius: 20px;
    }
}

.hr-3{
    border-bottom: 3px solid;
    border-radius: 5px;
    opacity:  100;
}
.socio-triangulo-1{
    width: 100%;
    z-index: 2;
    top: 0%;
    left: 0%;
    position: absolute;
}
.socio-triangulo-2{
    width: 100%;
    z-index: 2;
    bottom: 0%;
    left: 0%;
    transform: rotate(180deg);
    position: absolute;
}
.socio-cuadrado-1{
    height: 100%;
    width: 50%;
    z-index: 1;
    left: 0%;
    position: absolute;
}
.socio-cuadrado-2{
    height: 100%;
    width: 50%;
    z-index: 1;
    right: 0%;
    position: absolute;
}
.banner-1{
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.banner-1-triangulo{
    right: 0px;
    bottom: 0px;
    width: 100%;
    transform: rotate(180deg);
    position: absolute;
}
.banner-2{
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    object-position: left center;
}
.actividades-img{
    height: 300px;
    object-fit: cover;
    overflow: hidden;
    img{
        min-height: 100%;
        right: 50%;
    }
}

/* Responsive Tablet o inferior */

@media (max-width: 768px) {
    .dr-none {
        display: none;
    }

    .dr-yes {
        display: block;
    }
    .dr-none-movil { 
        display: block;
    }
    .dr-yes-movil {
        display: none;
    }
}

/* Responsive de Dispositivo Móvil */

@media (max-width: 480px) {
    .dr-none-movil { 
        display: none;
    }
    .dr-yes-movil {
        display: block;
    }
    .banner-1{
        height: 200px;
        padding-left: 100px;
    }
}