/*+++++++++++++++++++++++++++++++++Espaciado+++++++++++++++++++++++++++++++++*/

/*Espaciado vertical*/
.py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.py-75{
    padding-top: 75px;
    padding-bottom: 75px;
}
.py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.py-25 {
    padding-top: 25px;
    padding-bottom: 25px;
}
.py-20{
    padding-top: 20px;
    padding-bottom: 20px;
}
.py-10{
    padding-top: 10px;
    padding-bottom: 10px;
}


/*Espaciado horizontal*/

.px-10p {
    padding-left: 10% !important; 
    padding-right: 10% !important; 
}
.px-5p {
    padding-left: 5% !important; 
    padding-right: 5% !important; 
}

.px-10{
    padding-left: 10px !important; 
    padding-right: 10px !important; 
}

/*Espaciado inferior*/

.pb-100 {
    padding-bottom: 100px;
}
.pb-75 {
    padding-bottom: 75px;
}
.pb-50 {
    padding-bottom: 50px;
}
.pb-25 {
    padding-bottom: 25px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pb-10 {
    padding-bottom: 10px;
}
